@use "../../../styles/variables" as vars;
.product__card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: vars.$text-gray-350;
  padding: 0.8rem 0.75rem;
  box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.22);
  min-width: 304px;
  .product__card-name {
    font-weight: 300;
    font-size: 0.95rem;
    padding-right: 30%;
    line-height: 1.2;
    min-height: calc(1.2rem * 2);
    width: 100%;
  }
  .product__card-priceInfo {
    width: 100%;
    .product__card-originalPrice {
      color: #808080;
      text-decoration: line-through;
      font-weight: 400;
      font-size: 1rem;
    }
    .product__card-discountPrice {
      font-weight: 700;
      font-size: 1.25rem;
    }
    .product__card-installment {
      font-size: 0.75rem;
      font-weight: 400;
    }
    .product__card-shipping {
      font-size: 0.75rem;
      font-weight: 400;
      color: vars.$text-light-purple;
    }
  }
  .product__card-button {
    padding: 0.75rem 0;
    border-radius: 4px;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
    background-color: vars.$text-light-purple;
  }
}
.product__dialog {
  background-color: white;
  position: fixed;
  top: 50%;
  transform: translatey(-50%);
  margin: 0 auto;
  border-radius: 6px;
  .product__dialog-container {
    padding: 3.5rem 3.25rem 2.5rem 3.25rem;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    gap: 0 5rem;
    .product__dialog-closeBtn {
      color: black;
      position: absolute;
      top: 15px;
      right: 30px;
      font-size: 1.2rem;
    }
    .product__dialog-image {
      grid-row: span 2;
    }
    .product__dialog-productInfo {
      text-align: start;
      color: vars.$text-gray-350;
      font-size: 1.25rem;
      letter-spacing: 5%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      .product__dialog-name {
        font-weight: 400;
      }
      .product__dialog-discountPrice {
        font-weight: 600;
        margin-bottom: 2rem;
      }
      .product__dialog-description {
        font-size: 0.625rem;
        color: vars.$text-gray;
        line-height: 1.5;
      }
      .product__dialog-details {
        color: vars.$text-light-purple;
        font-weight: 600;
        line-height: 1;
        font-size: 0.625rem;
        letter-spacing: 5%;
        text-decoration: none;
      }
    }
    .product__dialog-buttons {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      justify-self: start;
      .product__dialog-counter {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #271c47;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        line-height: 1;
        padding: 0.5rem 0.625rem;
        span {
          font-weight: 500;
        }
      }
      .product__dialog-button {
        font-weight: 700;
        line-height: 1;
        color: #271c47;
        background-color: vars.$primary-yellow;
        padding: 0.55rem 3.5rem;
        border-radius: 6px;
        border: 1px solid vars.$primary-yellow;
      }
    }
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.54);
  }
}
